@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
.bg1{
    width: 100vw;
    height: 100vh;
    background-color: rgb(213, 225, 239);
    padding: 200px;
    margin: 0 auto;
}
.bg2{
    width: 22%;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
}
.center{
    width: 100%;
    background-color: rgb(54, 133, 255);
    border-radius: 15px;
   display: grid;
   place-items: center;
   padding: 50px 0;
}
.bg2 h3{
color: rgb(31, 49, 79);
font-family: Outfit;
font-size: 22px;
font-weight: 700;
line-height: 120%;
text-align: center;
padding: 0 10px;
}
.bg2 p{
color: rgb(104, 119, 141);
font-family: Outfit;
font-size: 15px;
font-weight: 400;
line-height: 140%;
text-align: center;
padding: 0 20px;
}

@media(min-width:1200px) and 
      (max-width:1600px){
    .bg1{
        width: 100vw;
        height: 100vh;
        padding: 85px 20px;
    }
    .bg2{
        width: 25%;
    }
}

@media(min-width:900px) and 
      (max-width:1200px){
    .bg1{
        width: 100vw;
        height: 100vh;
        padding: 85px 20px;
    }
    .bg2{
        width: 33%;
    }
}


@media(min-width:600px) and 
      (max-width:900px){
    .bg1{
            width: 100vw;
            height: 100vh;
            padding: 85px 20px;
        }
    .bg2{
            width: 45%;
        }
}


@media(min-width:400px) and 
      (max-width:600px){
    .bg1{
        width: 100vw;
        height: 100vh;
        padding: 85px 20px;
    }
    .bg2{
        width: 75%;
    }
}

@media(max-width:400px){
        .bg1{
            width: 100vw;
            height: 100vh;
            padding: 85px 20px;
        }
        .bg2{
            width: 95%;
        }
}